<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/png" href="/favicon.png">
  <title>Typhoon Jebi</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Typhoon Jebi</h1>
  <p>Latest news and updates</p>
  <h2>GO HOME NOW</h2>

  <!-- NEW HERE -->

  <footer>By <a href="https://francisco.io/" target="_blank">Francisco Presencia</a></footer>
</body>
</html>
